@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,400;1,100&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.content {
    flex: 1;
    background-color: rgba(32, 33, 36, 0.963);
    padding: 20px;
}

.footer {
  z-index: 20;
  width: 100%;
  padding: 8px;
  height: 64px;
  background-color: rgb(32, 33, 36);
  color: white;
  border-top: 1px solid #525355;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a{
  margin-left: 10px;
}

/* Add your other CSS styles here */
